//Imports
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

//Variables
$brand-red: rgb(189, 0, 0);
$brand-yellow: #ffC312;

//Styles
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}


body{
    background: rgb(0,26,97);
    background: linear-gradient(180deg, rgb(40, 50, 73) 0%, rgb(21, 25, 29) 100%); 
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100dvh;
    padding-bottom: 100px;
}

header{
    height: 300px;
    background: url("https://w.wallhaven.cc/full/vq/wallhaven-vq2dxl.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 5px solid $brand-yellow;

    &::after{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.3);
    }
    .header-wrapper{
        max-width: 975px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;

        @media screen and (max-width: 920px) {
            flex-direction: column;
        }
    }
    .logo{
        z-index: 1;
        background: url("./assets/Speedydoodle-Logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: clamp(145px, 45vw, 200px);
        width: 500px;
        max-width: 100%;
    }
    .contact{
        z-index: 1;
        color: white;
        text-align: center;
        h1{
            text-transform: uppercase;
            font-size: clamp(30px, 6vw, 50px);
        }
        a{
            text-decoration: none;
            color: white;
            font-size: clamp(16px, 3vw, 25px);
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.subtitle{
    padding: 0px 10px;
    margin-top: 25px;
    width: 100%;
    p{
        color: white;
        text-align: center;
        font-size: clamp(13px, 4vw, 40px);
    }
}

article[class='books']{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    .books-wrapper{
        max-width: 920px;
        display: flex;
        gap: clamp(60px, 5vw, 100px);

        @media screen and (max-width: 920px) {
            flex-direction: column;
            align-items: center;
            .book > .cover{
                max-width: 90%;
            }
        }
        .book{
            display: flex;
            justify-content: center;
            .cover{
                height: clamp(300px, 60vw, 400px);
                width: clamp(300px, 60vw, 400px);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border: 1.5px solid $brand-yellow;
                border-radius: 10px;
                box-shadow: 5px 10px 25px rgba(0,0,0,.5);
                position: relative;
                a{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -40px;
                    background: url('./assets/amazon.png');
                    background-size:contain;
                    background-repeat: no-repeat;
                    display: inline-block;
                    height: 60px;
                    width: 125px;
                    box-shadow: 0px 5px 10px rgba(0,0,0,.3);
                }
            }
            &.one{
                .cover{
                    background-image: url('./assets/book1-cover.jpg');
                }
            }
            &.two{
                .cover{
                    background-image: url('./assets/book2-cover.jpg');
                }
            }
            .pages{

            }
        }
    }
}